---
import type { GetStaticPaths } from 'astro'

import { CollectionTable } from '@/components/cms/collection-table'
import { Plus } from '@/components/icons'
import { buttonVariants } from '@/components/ui/button'
import { collections as collectionSchema } from '@/content/config'
import DashboardLayout from '@/layouts/dashboard.astro'
import { getCollection } from 'astro:content'

export const getStaticPaths = (() => {
  const collections = Object.keys(collectionSchema) as Array<
    keyof typeof collectionSchema
  >
  return collections.map((collection) => {
    return {
      params: {
        collection
      }
    }
  })
}) satisfies GetStaticPaths

const { collection } = Astro.params
const collectionItems = await getCollection(collection)
---

<DashboardLayout>
  <h2 class='text-xl' slot='header'>{collection}</h2>
  <a
    class={buttonVariants()}
    href={`/admin/${collection}/create-new`}
    slot='header'
  >
    Create New <Plus class='ml-4 size-4' />
  </a>
  <CollectionTable
    client:idle
    items={collectionItems.map(
      ({ collection, data: { description, title }, id, slug }) => ({
        collection,
        description,
        extension: id.split('.').pop() ?? '',
        slug,
        title
      })
    )}
  />
</DashboardLayout>
