---
import Breadcrumbs from '@/components/navigation/breadcrumbs.astro'
import { DisplayDevMode } from '@/components/status/display-dev-mode'
import RootLayout from '@/layouts/root.astro'
---

<RootLayout class='flex flex-col' title='Admin'>
  <DisplayDevMode />
  <header class='space-y-4 border-b p-4'>
    <div class='flex items-center gap-2'>
      <Breadcrumbs />
    </div>
    <div class='flex items-center justify-between'>
      <slot name='header'><h2 class='text-xl'>Welcome</h2></slot>
    </div>
  </header>
  <div class='flex-1 overflow-auto p-0'>
    <slot />
  </div>
</RootLayout>
